<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a href="#" class="navbar-brand">Online Shop</a>
        <ul class="navbar-nav">
            <li class="nav-item"><a href="{% url 'product-list' %}" class="nav-link">Product List</a></li>
            <li class="nav-item"><a href="{% url 'cart' %}" class="nav-link">Cart</a></li>
            <li class="nav-item"><a href="{% url 'checkout' %}" class="nav-link">Checkout</a></li>
        </ul>
    </div>

</nav>